@font-face {
  font-family: 'NanumSquare ExtraBold';
  src: url('./assets/fonts/NanumSquareEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'NanumSquare ExtraBold', sans-serif;
}


/* 고정 비율 유지 */
.ingame-container {
  width: 1080px;
  height: 1638px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  transform-origin: top left;
  transform: scale(calc(min(100vw / 1080, 100vh / 1920)));
  opacity: 0;
  /* 뷰포트에 맞게 크기를 줄이거나 늘립니다. */
} 

/* 상단 100% 섹션 (배경 이미지 추가) */
.top-section {
  height: 100%; /* 전체 화면 차지 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #000; /* 경계선 */
  background-image: url('./assets/images/inGameBackGround.webp'); /* 배경 이미지 설정 */
  background-size: cover; /* 이미지가 영역에 맞게 */
  background-position: center; /* 이미지 중앙 정렬 */
  position: relative; /* bottom-section과 겹치기 위한 상대적 위치 설정 */
  overflow: hidden;
}

.main-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 10;
}

.main-image.level1.item0{
  background-image: url('./assets/images/level1_loop1.png');
  background-size: cover;
  background-position: center;
  width: 333px;
  height: 334px;
  top: 534px;
  left: 428px;
}

.main-image.level1.item1{
  background-image: url('./assets/images/level1_loop2.png');
  background-size: cover;
  background-position: center;
  width: 383px;
  height: 411px;
  top: 473px;
  left: 365px;
}

.main-image.level1.item2{
  background-image: url('./assets/images/level1_loop3.png');
  background-size: cover;
  background-position: center;
  width: 324px;
  height: 228px;
  top: 647px;
  left: 400px;
}

.main-image.level1.item3{
  background-image: url('./assets/images/level1_loop4.png');
  background-size: cover;
  background-position: center;
  width: 459px;
  height: 474px;
  top: 401px;
  left: 269px;
}

.main-image.level1.item4{
  background-image: url('./assets/images/level1_loop5.png');
  background-size: cover;
  background-position: center;
  width: 354px;
  height: 396px;
  top: 471px;
  left: 378px;
}

.main-image.level2.item0{
  background-image: url('./assets/images/level2_loop1.png');
  background-size: cover;
  background-position: center;
  width: 389px;
  height: 306px;
  top: 543px;
  left: 326px;
}

.main-image.level2.item1{
  background-image: url('./assets/images/level2_loop2.png');
  background-size: cover;
  background-position: center;
  width: 351px;
  height: 221px;
  top: 650px;
  left: 354px;
}

.main-image.level2.item2{
  background-image: url('./assets/images/level2_loop3.png');
  background-size: cover;
  background-position: center;
  width: 322px;
  height: 218px;
  top: 632px;
  left: 365px;
}

.main-image.level2.item3{
  background-image: url('./assets/images/level2_loop4.png');
  background-size: cover;
  background-position: center;
  width: 380px;
  height: 300px;
  top: 574px;
  left: 327px;
}

.main-image.level2.item4{
  background-image: url('./assets/images/level2_loop5.png');
  background-size: cover;
  background-position: center;
  width: 287px;
  height: 348px;
  top: 502px;
  left: 388px;
}

.main-image.level3.item0{
  background-image: url('./assets/images/level3_loop1.png');
  background-size: cover;
  background-position: center;
  width: 345px;
  height: 561px;
  top: 720px;
  left: 368px;
}

.main-image.level3.item1{
  background-image: url('./assets/images/level3_loop2.png');
  background-size: cover;
  background-position: center;
  width: 545px;
  height: 536px;
  top: 704px;
  left: 272px;
}

.main-image.level3.item2{
  background-image: url('./assets/images/level3_loop3.png');
  background-size: cover;
  background-position: center;
  width: 433px;
  height: 304px;
  top: 976px;
  left: 326px;
}

.main-image.level3.item3{
  background-image: url('./assets/images/level3_loop4.png');
  background-size: cover;
  background-position: center;
  width: 470px;
  height: 474px;
  top: 800px;
  left: 367px;
}

.main-image.level3.item4{
  background-image: url('./assets/images/level3_loop5.png');
  background-size: cover;
  background-position: center;
  width: 423px;
  height: 596px;
  top: 688px;
  left: 336px;
}

.sub-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 5;

  transition: opacity 0.5s ease-in-out;
  opacity: 1;

}

/* 이미지 변경 중에 숨김 처리할 때 */
.image-hidden {
  opacity: 0 !important;
}

.sub-image.level1{
  width: 615px;
  height: 429px;
  top: 826px;
  left: 190px;
}

.sub-image.level2{
  width: 441px;
  height: 782px;
  top: 516px;
  left: 325px;
}


.sub-image.level3{
  width: 786x;
  height: 414px;
  top: 1040px;
  left: 144px;
}


/* 하단 40% 섹션 (상단 60%만 보이도록 덮기) */
.bottom-section {
  position: absolute; /* top-section 위에 덮기 위한 절대 위치 */
  bottom: 0; /* 아래에서부터 배치 */
  height: 40%; /* 높이 40% */
  width: 100%; /* 가로 100% */
  background-color: rgb(127, 127, 127);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #000; /* 경계선 추가 */
}

.answer-image {
  width: 320px;  /* 가로 크기 320px */
  height: 320px; /* 세로 크기 320px */
  object-fit: cover; /* 이미지가 영역에 맞게 조정됨 */
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: none; /* 터치/클릭 이벤트 비활성화 */
}


.highlight {
  transform: scale(1.1); /* 강조 효과 */
  border: 5px solid red; /* 강조된 이미지에 테두리 추가 */
}


.timer-section{
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 99px;
  position: absolute;
  left: 435px;
  top: 35px;
  z-index: 99;
  font-size: 38pt;
  display: none;
  background-color: black;
  border-radius: 20px;
  color: #66ff33;
  font-weight: bold;
}

.color-red{
  color: red;
}

/*
  팝업 컨탠츠
*/
.popup-content{
  width: 50% !important;
  height: 120px !important;
}

.popup-content > .popup-header{
  margin-bottom: 1px;
}

.popup-content > .popup-body{
  display: none;
}

.popup-content > .popup-footer{
  margin-top : 1px;
}


.click-animation {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 100;
}

.click-animation.game1 {
  top: 786px;
  left: 560px;
}

.click-animation.game2 {
  top: 715px;
  left: 650px;
}

#hand {
  position: absolute;
  width: 70px;
  animation: moveAndClick 2s infinite;
}

@keyframes moveAndClick {
  0% {
      transform: translate(0, 0) scale(1);
  }
  50% {
      transform: translate(70px, 30px) scale(1.2); /* 확대 및 이동 */
  }
  75% {
      transform: translate(70px, 30px) scale(1.2); /* 축소 (클릭 동작) */
  }
  100% {
      transform: translate(0, 0) scale(1); /* 원위치 */
  }
}

#game-complete {
  font-size: 70px;
  font-weight: bold;
  color: red;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 38%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transform: scale(0.5);
  z-index: 150;
}

.result-item-image{
  object-fit: cover;
  position: absolute;
  z-index: 150;
  background-size: cover;
  background-position: center;
}

.result-item-image[current-level="1"]{
  top: 63px;
  left: 73px;
  width: 231px;
  height: 264px;
  background-image: url('./assets/images/game1_result_itme_1.png');
}

.result-item-image[current-level="2"]{
  top: 63px;
  left: 104px;
  width: 163px;
  height: 290px;
  background-image: url('./assets/images/game1_result_itme_2.png');
}

.result-item-image[current-level="3"]{
  top: 61px;
  left: 57px;
  width: 286px;
  height: 307px;
  background-image: url('./assets/images/game1_result_itme_3.png');
}

.wing-image{
  width: 170px;
  height: 369px;
  position: absolute;
  z-index: 150;
  top: 547px;
  left: 582px;
  background-size: cover;
  background-position: center;
}

.user-out-timer-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 99px;
  left: 435px;
  top: 35px;
  position: absolute;
  z-index: 999;
  font-size: 38pt;
  background-color: black;
  border-radius: 20px;
  color: #66ff33;
  font-weight: bold;
}

.game_no_answer_popup{
  width:283px;
  height: 282px;
  background-image: url('./assets/images/component/game_no_answer.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 150;
  top: 107px;
  left: 677px;
}