.game_body[current_game='game3']  .game_background{
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/game3/game3-background.webp');
    background-size: cover;
    background-position: center;
}

.game_body[current_game='game3']  .game_item_result{
    /* position: absolute;
    top: 29%;
    left: 55%;
    width: 300px;
    height: 300px;
    background-image: url('../assets/images/game3/game3-result-item.webp');
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%) scale(2.2);
    z-index: 100; */
}

.game_body[current_game='game3']  .game_item_fire{
    position: absolute;
    z-index: 100;
    
    transition: opacity 0.5s ease-in-out;
}


.game_body[current_game='game3']  .game_item_fire[scale='3']{
    width: 290px;
    height: 365px;
    left: 398px;
    bottom: 572px;
}

.game_body[current_game='game3']  .game_item_fire[scale='2']{
    width: 245px;
    height: 259px;
    left: 427px;
    bottom: 574px;
}

.game_body[current_game='game3']  .game_item_fire[scale='1']{
    width: 201px;
    height: 109px;
    left: 439px;
    bottom: 592px;
}

.game_body[current_game='game3'] .game_item_tree{
    position: absolute;
    width: 339px;
    height: 197px;
    background-image: url('../assets/images/game3/game3-tree.webp');
    background-size: cover;
    background-position: center;

    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(54, 50, 50, 0);

    top: 1122px;
    left: 360px;
}

.game_body[current_game='game3']  .game_item_tree_shadow{
    position: absolute;
    top: 1268px;
    left: 355px;
    width: 370px;
    height: 51px;
    background-image: url('../assets/images/game3/game3-tree-shadow.png');
    background-size: cover;
    background-position: center;
}

.game_body[current_game='game3']  .game_drag_drop_box{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 450px;
    height: 450px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* border: 2px solid red; 디버깅을 위해 테두리 추가 */
}

.fire-burn {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;
    animation: fadeInOut 0.5s ease-in-out forwards;
}

.game_item_fire[scale='3'] .fire-burn-1 {
    background-image: url('../assets/images/game3/game3-fire-section3-1.png');
}

.game_item_fire[scale='3'] .fire-burn-2 {
    background-image: url('../assets/images/game3/game3-fire-section3-2.png');
}

.game_item_fire[scale='2'] .fire-burn-1 {
    background-image: url('../assets/images/game3/game3-fire-section2-1.png');
}

.game_item_fire[scale='2'] .fire-burn-2 {
    background-image: url('../assets/images/game3/game3-fire-section2-2.png');
}

.game_item_fire[scale='1'] .fire-burn-1 {
    background-image: url('../assets/images/game3/game3-fire-section1-1.png');
}

.game_item_fire[scale='1'] .fire-burn-2 {
    background-image: url('../assets/images/game3/game3-fire-section1-2.png');
}


.game_body[current_game='game3'] .game_result_item{
    position: absolute;
    width: 390px;
    height: 389px;
    background-size: cover;
    background-position: center;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    top: 251px;
    left: 375px;
}

.trans_opacity_ease{    
    transition: opacity 0.3s ease-in-out;
}


.game_body[current_game='game3'] #game_result_item_0{
    background-image: url('../assets/images/game3/game3-result-1.png');
}

.game_body[current_game='game3'] #game_result_item_1{
    background-image: url('../assets/images/game3/game3-result-2.png');
}

.game_body[current_game='game3'] #game_result_item_2{
    background-image: url('../assets/images/game3/game3-result-3.png');
}

.game_body[current_game='game3'] #game_result_item_3{
    background-image: url('../assets/images/game3/game3-result-4.png');
}

.heartbeat{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-7 16:43:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}