/**
    game2
**/


.game_body[current_game='game2'] .gauge-container {
    display: flex;
    width: 120px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin-left: -20px;
    justify-content: center;
}

.game_body[current_game='game2'] #gauge {
    width: 64px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-image: url('../assets/images/game2/game2-guage.png'); /* 배경 이미지 설정 */
    background-size: cover; /* 이미지가 영역에 맞게 */
    background-position: center; /* 이미지 중앙 정렬 */


}

.game_body[current_game='game2'] #target {

    background-image: url('../assets/images/game2/game2-target.png'); /* 배경 이미지 설정 */
    background-size: cover; /* 이미지가 영역에 맞게 */
    background-position: center; /* 이미지 중앙 정렬 */


    width: 84px;
    height: 84px;
    position: absolute;
    left: 19px;
    bottom: 0;
    cursor: move;
    transition: box-shadow 0.3s ease;
}

.game_body[current_game='game2'] .gauge-section {
    transition: border 0.3s;
    border-bottom: 2px solid transparent;
}

.game_body[current_game='game2'] #section1{
    height: 20%;
}

.game_body[current_game='game2'] #section2 {
    height: 60%;
}

.game_body[current_game='game2'] #section3 {
    height: 20%;
}




.game_body[current_game='game2'] .gauge-section:last-child {
    border-bottom: none;
}

.game_body[current_game='game2'] .gauge-section.visible {
    border-bottom-color: rgba(255,255,255,0.5);
}



.game_body[current_game='game2'] #target:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffff33;
}


.game_body[current_game='game2'] .component_container #result-image {

    width: 256px;
    height: 523px;  
    margin-left: 5px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    top: 279px;
    z-index: 106;

}

.game_body[current_game='game2'] .component_container[current_section="1"] #result-image {
    animation: slideshow2 0.65s steps(15) 1 forwards;
    background-image: url('../assets/images/game2/section/key1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    background-position: center;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}


.game_body[current_game='game2'] .component_container[current_section="3"] #result-image {
    background-image: url('../assets/images/game2/section/key1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.game_body[current_game='game2'] .component_container[current_section="2"] #result-image {
    animation: 
        slideshow1 0.55s steps(15) 1 forwards,
        slideshow3 1s steps(2) infinite 0.55s;
    background-image: url('../assets/images/game2/section/key1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation-direction: alternate;
    animation-timing-function: ease-in;

}

.game_body[current_game='game2'] #toggle-sections {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game_body[current_game='game2'] #toggle-sections:hover {
    background-color: #45a049;
}

.game_body[current_game='game2'] .game2-container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 454px;
    flex-direction: column;
    left: 75px;
}

.game_body[current_game="game2"] .component_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    top: -204px;
}

.game_body[current_game="game2"] .component_container[current_level="1"] {
    /* 레벨 1에 대한 스타일 */
    left: 19%;
}

.game_body[current_game="game2"] .component_container[current_level="2"] {
    /* 레벨 에 대한 스타일 */
    left: 43%;
}

.game_body[current_game="game2"] .component_container[current_level="3"] {
    /* 레벨 3에 대한 스타일 */
    left: 68%;
}

.game_body[current_game="game2"] .component_container[current_level="4"] {
    /* 레벨 3에 대한 스타일 */
    left: 68%;
}


.game_body[current_game='game2'] .game2-container .furnace-image[current_section="1"]{
    background-image: url('../assets/images/game2/game2-furnace-0.png'); /* 배경 이미지 설정 */

    z-index: 105;
}

.game_body[current_game='game2'] .game2-container .furnace-image[current_section="2"]{
    background-image: url('../assets/images/game2/game2-furnace-1.png'); /* 배경 이미지 설정 */
    z-index: 104;
}

.game_body[current_game='game2'] .game2-container .furnace-image[current_section="3"]{
    background-image: url('../assets/images/game2/game2-furnace-2.png'); /* 배경 이미지 설정 */
    z-index: 103;
}

.game_body[current_game='game2'] .game2-container .furnace-image[current_section="4"]{
    background-image: url('../assets/images/game2/game2-furnace-3.png'); /* 배경 이미지 설정 */
    z-index: 102;
}

.game_body[current_game='game2'] .game2-container .furnace-image{
    width: 100%;
    height: 100%;
    background-size: 100%; /* 이미지가 영역에 맞게 */
    background-position: center; /* 이미지 중앙 정렬 */
    position: absolute;

    transition: opacity 1s ease-in-out;
}

.game_body[current_game='game2']  .furnace-container {
    width: 920px;
    height: 337px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -50px;

    position: relative;
}


@keyframes slideshow1 {
    0% {  background-image: url('../assets/images/game2/section/key1.png'); }
    6.67% { background-image: url('../assets/images/game2/section/key2.png'); }
    13.33% { background-image: url('../assets/images/game2/section/key3.png'); }
    20% { background-image: url('../assets/images/game2/section/key4.png'); }
    26.67% { background-image: url('../assets/images/game2/section/key5.png'); }
    33.33% { background-image: url('../assets/images/game2/section/key6.png'); }
    40% { background-image: url('../assets/images/game2/section/key7.png'); }
    46.67% { background-image: url('../assets/images/game2/section/key8.png'); }
    53.33% { background-image: url('../assets/images/game2/section/key9.png'); }
    60% { background-image: url('../assets/images/game2/section/key10.png'); }
    66.67% { background-image: url('../assets/images/game2/section/key11.png'); }
    73.33% { background-image: url('../assets/images/game2/section/key12.png'); }
    80% { background-image: url('../assets/images/game2/section/key13.png'); }
    86.67% { background-image: url('../assets/images/game2/section/key14.png'); }
    93.33% { background-image: url('../assets/images/game2/section/key15.png'); }
    100% { background-image: url('../assets/images/game2/section/key15.png'); }
}

@keyframes slideshow2 {
    0% { right: 0px; background-image: url('../assets/images/game2/section/key1.png'); }
    5.56% { right: 1.11px; background-image: url('../assets/images/game2/section/key2.png'); }
    11.11% { right: 2.22px; background-image: url('../assets/images/game2/section/key3.png'); }
    16.67% { right: 3.33px; background-image: url('../assets/images/game2/section/key4.png'); }
    22.22% { right: 4.44px; background-image: url('../assets/images/game2/section/key5.png'); }
    27.78% { right: 5.56px; background-image: url('../assets/images/game2/section/key6.png'); }
    33.33% { right: 6.67px; background-image: url('../assets/images/game2/section/key7.png'); }
    38.89% { right: 7.78px; background-image: url('../assets/images/game2/section/key8.png'); }
    44.44% { right: 8.89px; background-image: url('../assets/images/game2/section/key9.png'); }
    50% { right: 10px; background-image: url('../assets/images/game2/section/key10.png'); }
    55.56% { right: 11.11px; background-image: url('../assets/images/game2/section/key11.png'); }
    61.11% { right: 12.22px; background-image: url('../assets/images/game2/section/key12.png'); }
    66.67% { right: 13.33px; background-image: url('../assets/images/game2/section/key13.png'); }
    72.22% { right: 14.44px; background-image: url('../assets/images/game2/section/key14.png'); }
    77.78% { right: 15.56px; background-image: url('../assets/images/game2/section/key15.png'); }
    83.33% { right: 16.67px; background-image: url('../assets/images/game2/section/key16.png'); }
    88.89% { right: 17.78px; background-image: url('../assets/images/game2/section/key17.png'); }
    94.44% { right: 18.89px; background-image: url('../assets/images/game2/section/key18.png'); }
    100% { right: 20px; background-image: url('../assets/images/game2/section/key18.png'); }
}

@keyframes slideshow3 {
    0% { 
        top: 282px;
        left: -1.5px;
        background-image: url('../assets/images/game2/section/key15_1.png'); }
    50% { 
        top: 282px;
        left: -1.5px;
        background-image: url('../assets/images/game2/section/key15_2.png'); }
    100% { 
        top: 282px;
        left: -1.5px;
        background-image: url('../assets/images/game2/section/key15_1.png'); }
}