/* 팝업 오버레이 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 배경 색상 및 투명도 */
    display: none; /* 기본은 보이지 않게 설정 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 팝업이 다른 요소 위에 나타나도록 설정 */
}

.touch-prevent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* 배경 색상 및 투명도 */
    display: none; /* 기본은 보이지 않게 설정 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 팝업이 다른 요소 위에 나타나도록 설정 */
}

/* 팝업 콘텐츠 */
.popup-content {
    /* background-color: #fff; */
    position: absolute;
    top: 483px;
    left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 헤더, 바디, 푸터의 위치 조정 */
    overflow-y: auto; /* 높이가 넘어갈 경우 스크롤 생성 */
}

/* 팝업 본문 */
.popup-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-body p {
    font-size: 30px;
    margin: 0;
}

/* 팝업 푸터 (버튼들) */
.popup-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px; /* 버튼 간격 조정 */
}

.popup-footer button {
    padding: 10px 20px;
    font-size: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-footer button:hover {
    background-color: #0056b3;
}

.popup-footer .restart-button{
    cursor: pointer;

    width: 224px;
    height: 94px;
    background-image: url(../assets/images/component/restart_button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    /* 드래그 방지 속성 */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* 터치 액션 방지 */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.popup-footer .end-button{
    cursor: pointer;
    
    width: 224px;
    height: 94px;

    background-image: url(../assets/images/component/close_button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    /* 드래그 방지 속성 */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* 터치 액션 방지 */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.mission-fail{
    position: absolute;
    top: 67px;
    left: 579px;
    width: 345px;
    height: 350px;

    background-image: url(../assets/images/component/mission_fail.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
